{
  CIDER: {
    cider_version: "0.47.0",
    dependencies: {
      nuget: "",
      tatin: "tatin-packages",
    },
    dependencies_dev: {
      tatin: "tatin-packages-dev",
    },
    distributionFolder: "Dist",
    init: "",
    make: "",
    parent: "#",
    projectSpace: "translate",
    project_url: "https://github.com/5jt/Translate",
    source: "APLSource",
    tests: "tests",
  },
  SYSVARS: {
    io: 1,
    ml: 1,
  },
  USER: {
  },
}
